.sliding {
  z-index: -1;
  position: absolute;
  top: 0;
  background: url("./assets/collage.png") repeat;
  height: 5076px;
  width: 5076px;
  animation: slide 60s linear infinite;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, -1692px, 0);
  }
}

h1 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #e74c3c;
  letter-spacing: 4px;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.5),
    0 0 30px rgba(255, 0, 0, 0.3);
  animation: fadeIn 2s ease-out, shake 0.5s infinite alternate;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #e74c3c;
  letter-spacing: 4px;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.5),
    0 0 30px rgba(255, 0, 0, 0.3);
  animation: fadeIn 2s ease-out, shake 0.5s infinite alternate;
}

img {
  width: 200px;
  height: 200px;
  align-items: center;
  cursor: pointer;
  border: 3px solid black;
}

img:focus {
  border: 10px solid red;
}

img:hover {
  background-color: #555555;
  box-shadow: 0 0 10px rgba(195, 4, 4, 0.3);
}

p.para {
  font-size: 1.5em;
  margin: 10px;
  font-weight: bold;
}

.container {
  background-color: #444444;
  border: 2px solid #888;
  border-radius: 10px;
  color: #f5f5f5;
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  position: relative;
}

.container:hover {
  background-color: #555555;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.container:active {
  background-color: #c0392b;
  transform: scale(0.95);
}

.container:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 2px;
}

.container:hover:before {
  width: 100%;
  left: 0;
}

.para {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 15px rgba(231, 76, 60, 0.7);
}

button {
  background-color: #333;
  border: 2px solid #666;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color: #e74c3c;
  box-shadow: 0 0 10px rgba(231, 76, 60, 0.7);
  color: #fff;
  text-shadow: 0 0 5px rgba(231, 76, 60, 0.8);
}

button:active {
  transform: scale(0.95);
  background-color: #c0392b;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
